services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-au:latest
    container_name: my-au
    restart: unless-stopped
    ports:
      - "8083:8083"
    environment:
      - TZ=Asia/Shanghai