{# Umami 全站采集：官方 tracker + 会话属性 + 业务事件 #}
<script defer src="https://umami.songyuankun.top/script.js"
  data-website-id="0a0f5b9f-b2ca-41a5-a1d0-4ef7a6bbaad3"
  data-host-url="https://umami.songyuankun.top"
  data-domains="au.songyuankun.top,localhost,127.0.0.1"
  data-performance="true"></script>
<script defer src="{{ url_for('static', filename='js/umami-labels.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/umami-session.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/umami-helper.js') }}"></script>
